{% extends 'base.html.twig' %}

{% block title %}Nuevo{% endblock %}

{% block body %}
    <h1>Crear nuevo producto</h1>
    <div class="row justify-content-md-start mb-5">
        <a class="col-3 btn btn-secondary" href="{{ path('app_product_index') }}">Volver</a>
    </div>
    {{ include('product/_form.html.twig') }}
{% endblock %}
